<ng-container>
  <nz-card nzTitle="Step One">
    <div class="row">
      <div class="col-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem
          pariatur aperiam ipsa, tempore maxime veniam, rerum obcaecati
          voluptatibus, quaerat necessitatibus aliquam dolores laborum facere ab
          blanditiis esse voluptates ut eaque Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Voluptatem pariatur aperiam ipsa,
          tempore maxime veniam, rerum obcaecati voluptatibus, quaerat
          necessitatibus aliquam dolores laborum facere ab blanditiis esse
          voluptates ut eaque?
        </p>
      </div>

      <div class="col-6">
        <img src="../../assets/nature.jpg" class="img" />
      </div>
    </div>
  </nz-card>
  <nz-card nzTitle="Step One">
    <div class="row">
      <div class="col-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem
          pariatur aperiam ipsa, tempore maxime veniam, rerum obcaecati
          voluptatibus, quaerat necessitatibus aliquam dolores laborum facere ab
          blanditiis esse voluptates ut eaque Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Voluptatem pariatur aperiam ipsa,
          tempore maxime veniam, rerum obcaecati voluptatibus, quaerat
          necessitatibus aliquam dolores laborum facere ab blanditiis esse
          voluptates ut eaque?
        </p>
      </div>

      <div class="col-6">
        <img src="../../assets/nature.jpg" class="img" />
      </div>
    </div>
  </nz-card>
</ng-container>
